
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333333;
}

/* Encabezado */
header {
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    z-index: 0;
    position: relative; 
}
h1, h2 {
    margin-bottom: 20px;
}

/* Indicaciones de la main-section*/
.main-section {
    position: relative;
    text-align: center;
    background-color: #ffffff;
    padding: 50px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Indicaciones de las Imágenes */
.pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.imagenes {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Botones */
button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f7a;
}

/* Tabla */
.table {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Instrucciones del Pie de página */
.pata_pagina {
    background-color: #333333;
    color: white;
    padding: 40px;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .pictures {
        flex-direction: column;
    }

    .imagenes {
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .pata_pagina {
        font-size: 14px;
    }
}

nav {
    position: fixed; /* Fijar la barra de navegación */
    top: 0;
    left: 0;
    width: 100%; /* Que ocupe todo el ancho de la pantalla */
    background-color: #333333;
    padding: 10px 0;
    z-index: 1000; /* Asegura que la barra esté sobre otros elementos */
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: #444444;
}

.main-section {
    padding-top: 70px; 
}